In [74]:
import pandas as pd
import numpy as np

Question 1: Download and load the Ames CSV file. Read the file into a Pandas DataFrame and display the first five rows.

In [76]:
df = pd.read_csv('/Users/cdub/AmesHousing.csv')

In [78]:
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

Question 2:  Print the highest and lowest priced homes in Ames.

In [12]:
df['SalePrice'].max()

755000

In [14]:
df['SalePrice'].min()

12789

Question 3:  How many categories does lot shape have?

In [17]:
len(df.value_counts('Lot Shape'))

4

Question 4:  What is the range of years when the houses were sold?

In [20]:
range_yearsSold = f" {df['Yr Sold'].min()} to {df['Yr Sold'].max()}"
print(range_yearsSold)

 2006 to 2010

Question 5:  What is the total number of all homes sold in Ames for all years?

In [23]:
print(len(tuple(df['PID'])))

2930

Question 6:  How many nulls or NA are there in the Lot Frontage column?

In [26]:
df['Lot Frontage'].isna().sum()

490

Question 7:  How many items have a value in Alley and what is the total number of  NA in the column?

In [29]:
df.value_counts('Alley').sum()

198

In [31]:
df['Alley'].isna().sum()

2732

Question 8:  What are all the homes in the neighborhood called Gilbert with Yr Sold being 2009 or 2010?

In [34]:
df.groupby(['Neighborhood', 'Yr Sold'])

Question 9:  What is the count of homes sold in Gilbert with Yr Sold being 2010?

In [37]:
gilbert_sold_df = len(df.loc[(df['Neighborhood']== 'Gilbert') & (df['Yr Sold'] == 2010)])
gilbert_sold_df

15

Question 10:  Return the value of the third row, and fifth column.

In [40]:
df.iloc[3,5]

11160

Question 11:  Make a new column from the SalePrice that includes data formatted with the $, and commas for the thousands/millions digits.

In [80]:
df['Formatted SalePrice'] = df['SalePrice'].map(lambda x: '${:,.2f}'.format(x) if pd.notnull(x) else 'NaN')

In [82]:
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,Formatted SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,NaN,NaN,NaN,0,5,2010,WD,Normal,215000,"$215,000.00"
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000,"$105,000.00"
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000,"$172,000.00"
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,NaN,NaN,NaN,0,4,2010,WD,Normal,244000,"$244,000.00"
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900,"$189,900.00"

Question 12:   Output a dataframe with only SalePrice, Neighborhood, and Year Built.  Save this file in your git repository as “minimal_ames_housing.csv”,  Make sure you include the formatted SalePrice from the previous question.

In [88]:
df[['SalePrice', 'Neighborhood', 'Year Built', 'Formatted SalePrice']].head(100).to_csv('minimal_ames_housing', index=False)