In [590]:
import pandas as pd
import numpy as np

## Part 1:  Read the data into Jupyter ##

### Read the diabetes_uncleaned_data.csv into a pandas dataframe named pima_df. ###

In [649]:
diabetes_df = pd.read_csv('diabetes_uncleaned_data.csv')

In [651]:
diabetes_df.duplicated().sum()

4

## Part 2: Missing Data ##

### Question 1:  In your Jupyter Notebook, find columns with missing data. ###
missing value analysis mcar/mncar multivariate analysis

In [654]:
diabetes_df.isna().sum()

Pregnancies                 114
Glucose                      16
BloodPressure                22
SkinThickness                 0
Insulin                       0
BMI                           1
DiabetesPedigreeFunction      0
Age                          22
Outcome                       0
dtype: int64

In [656]:
diabetes_df.dropna(inplace=True)

### Question 2:  Write code to remove rows with missing data and save the new dataframe as pima_missing_fixed_df. ###

In [659]:
diabetes_df = diabetes_df.dropna().to_csv('pima_missing_fixed_df.csv')

In [661]:
diabetes_df = pd.read_csv('pima_missing_fixed_df.csv')

### Question 3:  Print out the number of rows in the dataframe. ###

In [664]:
diabetes_df.shape[0]

840

### Question 4:  Discuss why missing data could be a problem.  What other methods could you use in this situation? ###

Missing data could make the dataset less valuable depending on the amount of missing data. If there are a thousand lines of data and 800 are missing this row or column would not be useful in processing and analyzing. Depending on the missing data you can replace missing data with the mean of available data.

## Part 3:  Duplicated Data ##
#### Question 1:  In your Jupyter Notebook, find the rows of duplicated data in the pima_missing_fixed_df and print them. ####

In [669]:
diabetes_df.duplicated().sum()

0

#### Question 2:  Write code to remove the duplicate rows and save the new dataframe as pima_dedupped_df ####

In [672]:
diabetes_df = pima_df.drop_duplicates().to_csv('pima_dedupped_df')

In [674]:
diabetes_df = pd.read_csv('pima_dedupped_df')

#### Question 3: Print out the number of rows in the dataframe ####

In [677]:
diabetes_df.shape[0]

840

#### Question 4: Discuss why duplicated data could be a problem.  What other methods could you use in this situation? ####

* Duplicate data can provide an inaccurate assessment if left unhandled. Duplicate sets of data unnoticed can lead to an inaccurate analysis.
Another method that could be used is the drop*

## Part 4: Mis-typed Columns/Broken Data ##
	
#### Question 1: In your Jupyter notebook, find the columns where most of the data seems to be one type of data, and there seems to be a data error. In the markdown, after exploring in code, add a markdown cell discussing which columns have the data error. ####

In [682]:
diabetes_df.head()

,Unnamed: 0.1,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,1,1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,2,2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
3,3,4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
4,4,5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE

In [684]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0.1              840 non-null    int64
 1   Unnamed: 0                840 non-null    int64
 2   Pregnancies               840 non-null    float64
 3   Glucose                   840 non-null    float64
 4   BloodPressure             840 non-null    object
 5   SkinThickness             840 non-null    int64
 6   Insulin                   840 non-null    int64
 7   BMI                       840 non-null    object
 8   DiabetesPedigreeFunction  840 non-null    float64
 9   Age                       840 non-null    float64
 10  Outcome                   840 non-null    object
dtypes: float64(4), int64(4), object(3)
memory usage: 72.3+ KB

Based on the original data frame the blood pressure has 2 error values within its data causing the data type to show as a object instead of int64. Also BMI is showing as a object when it should be showing as a float.

#### Question 2: Remove the rows with data errors in your jupyter notebook. ####

In [688]:
diabetes_df = diabetes_df.loc[diabetes_df['BloodPressure'] != 'Error', :]

In [690]:
diabetes_df = diabetes_df.loc[diabetes_df['BMI'] != 'Error', :]

In [692]:
diabetes_df['BloodPressure'].value_counts()

BloodPressure
26       16
96       15
27       15
82       15
81       13
         ..
104       4
107       4
13        3
10000     2
19        1
Name: count, Length: 112, dtype: int64

#### Question 3: After the data is fixed in your columns change the columns to the correct type and save this as the pima_fixed_columns_df. ####

In [696]:
diabetes_df['BloodPressure'] = diabetes_df['BloodPressure'].astype('int64')

In [698]:
diabetes_df['BMI'] = diabetes_df['BMI'].astype('float64')

In [702]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 837 entries, 0 to 839
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0.1              837 non-null    int64
 1   Unnamed: 0                837 non-null    int64
 2   Pregnancies               837 non-null    float64
 3   Glucose                   837 non-null    float64
 4   BloodPressure             837 non-null    int64
 5   SkinThickness             837 non-null    int64
 6   Insulin                   837 non-null    int64
 7   BMI                       837 non-null    float64
 8   DiabetesPedigreeFunction  837 non-null    float64
 9   Age                       837 non-null    float64
 10  Outcome                   837 non-null    object
dtypes: float64(5), int64(5), object(1)
memory usage: 78.5+ KB

In [704]:
diabetes_df.to_csv('pima_fixed_columns_df.csv')

In [706]:
diabetes_df = pd.read_csv('pima_fixed_columns_df.csv')

In [708]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 837 entries, 0 to 836
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0.2              837 non-null    int64
 1   Unnamed: 0.1              837 non-null    int64
 2   Unnamed: 0                837 non-null    int64
 3   Pregnancies               837 non-null    float64
 4   Glucose                   837 non-null    float64
 5   BloodPressure             837 non-null    int64
 6   SkinThickness             837 non-null    int64
 7   Insulin                   837 non-null    int64
 8   BMI                       837 non-null    float64
 9   DiabetesPedigreeFunction  837 non-null    float64
 10  Age                       837 non-null    float64
 11  Outcome                   837 non-null    object
dtypes: float64(5), int64(6), object(1)
memory usage: 78.6+ KB

### Question 4: Run pima_fixed_columns_df.info() to confirm the columns have changed. ###

In [711]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 837 entries, 0 to 836
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0.2              837 non-null    int64
 1   Unnamed: 0.1              837 non-null    int64
 2   Unnamed: 0                837 non-null    int64
 3   Pregnancies               837 non-null    float64
 4   Glucose                   837 non-null    float64
 5   BloodPressure             837 non-null    int64
 6   SkinThickness             837 non-null    int64
 7   Insulin                   837 non-null    int64
 8   BMI                       837 non-null    float64
 9   DiabetesPedigreeFunction  837 non-null    float64
 10  Age                       837 non-null    float64
 11  Outcome                   837 non-null    object
dtypes: float64(5), int64(6), object(1)
memory usage: 78.6+ KB

## Part 5: Outlier Detection and Removal ##

#### Question 1: Print out the Outliers in each column in the pima_fixed_columns_df dataframe, use the IQR method of outlier detection. ####

In [726]:
def is_outlier(column):
        Q1 = column.quantile(0.25)
        Q3 = column.quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        return ~column.between(lower_bound, upper_bound)

for column in diabetes_df.select_dtypes(include='number').columns:
    print(is_outlier(diabetes_df[column]).sum())

0
0
0
0
0
0
0
0
0
0
0

#### Question 2: Use loc to remove outliers in each of the columns that have outliers, save this as pima_outlier_removed_df ####

In [729]:
diabetes_df = diabetes_df[is_outlier(diabetes_df['BloodPressure']) != True]
diabetes_df = diabetes_df[is_outlier(diabetes_df['Pregnancies']) != True]
diabetes_df = diabetes_df[is_outlier(diabetes_df['Insulin']) != True]

In [731]:
for column in diabetes_df.select_dtypes(include='number').columns:
    print(is_outlier(diabetes_df[column]).sum())

0
0
0
0
0
0
0
0
0
0
0

#### Question 3:  Print out the row count in the pima_outlier_removed_df and confirm this number is correct. ####

In [737]:
diabetes_df.to_csv('pima_outlier_removed_df.csv')

In [739]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 833 entries, 0 to 836
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0.2              833 non-null    int64
 1   Unnamed: 0.1              833 non-null    int64
 2   Unnamed: 0                833 non-null    int64
 3   Pregnancies               833 non-null    float64
 4   Glucose                   833 non-null    float64
 5   BloodPressure             833 non-null    int64
 6   SkinThickness             833 non-null    int64
 7   Insulin                   833 non-null    int64
 8   BMI                       833 non-null    float64
 9   DiabetesPedigreeFunction  833 non-null    float64
 10  Age                       833 non-null    float64
 11  Outcome                   833 non-null    object
dtypes: float64(5), int64(6), object(1)
memory usage: 84.6+ KB