In [4]:
import pandas as pd
import numpy as np

In [8]:
student_grades_df = pd.read_csv('/Users/cdub/student_grades_2024.csv')
student_grades_df

     Name  Math  Science  Reading  History
0    Adam  11.0      9.0     16.0     13.5
1    Anna  12.0     11.0      8.5     10.0
2   James  11.0     18.0     11.5      9.0
3   Corey   7.0     15.5     11.0     14.0
4  Alisha   9.5     12.0     10.5     14.0
5   Jodie  15.0     18.5      7.0     12.0
6    John  18.0     15.5     11.0      7.5

Question 1.1: Calculate the mean for each individual subject.

In [55]:
student_grades_df.loc[ : ,'Math':].mean()

Math       11.928571
Science    14.214286
Reading    10.785714
History    11.428571
dtype: float64

Question 1.2 Find the median grade in Math for all students.

In [30]:
student_grades_df.loc[:,'Math'].median()

11.0

Question 1.3 Calculate the mode for History.

In [32]:
student_grades_df['History'].mode()

0    14.0
Name: History, dtype: float64

Question 2:
Given the following grades from Question 1, calculate the correlation between the different subjects. What two subjects have the strongest correlation?

In [95]:
correlation_grades = student_grades_df[['Math','Science', 'Reading', 'History']].corr()
print(correlation_grades)
#correlation = correlation_grades[0,1]

             Math   Science   Reading   History
Math     1.000000  0.269494 -0.268562 -0.718358
Science  0.269494  1.000000 -0.527606 -0.358688
Reading -0.268562 -0.527606  1.000000  0.206794
History -0.718358 -0.358688  0.206794  1.000000

Question 3:
Consider the following numbers representing the grades from the most recent exam in a math class:

[24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]

Write a Python function named desc_stats() that takes a list of numbers and prints the following statistical calculations:
Mean
Median
Mode
Minimum
Maximum
Range
Variance
Standard deviation

In [105]:
grades = [24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]

In [151]:
def desc_stats(grades):
    grades = pd.Series(grades)
    return grades.mean(), grades.median(), grades.mode().to_list(), grades.min(), grades.max(), grades.max()-grades.min(), grades.var(), grades.std()

In [153]:
desc_stats(grades)

(59.47826086956522,
 60.0,
 [60],
 5,
 99,
 94,
 694.3517786561265,
 26.350555566365703)